/* selector {
	property:	value;
}*/

body {
	font-size:	50px;
	text-align:	center;
	border:	20px solid black;
	border-radius:	65px;
	margin:	20px;
	font-family:	"Tahoma";
	background: repeating-linear-gradient(
	to right,
	#f6ba52,
	#f6ba52 10px,
	#ffd180 10px,
	#ffd180 20px
	);
}
h1{
	color:	purple;
	font-size:	110px;
	margin-top:	60px;
	
} 

.questionscreen span{
	display:	none;
	font-size:	40px;
	font-weight: bold;
	color: #ffd180;
}

.questionscreen, #scoreSection {
	font-size:	40px;
	font-weight: bold;
}

.questionscreen:nth-of-type(1){
	display: block;
}

.questionscreen span, #finishedScreen span, #goagainbutton{
	display: block;
	border:	20px solid purple;
	border-radius:65px;
	border-style: dotted;
	font size:	100px;
	padding:	35px;
	margin:	50px;
	background: repeating-radial-gradient(
	circle,
	purple,
	purple 10px,
	#4b026f 10px, 
	#4b026f 20px
	);
	/* border-image-source: url(b_image.jpg); */
	border-image-slice: 40;
	border-image-width: 40;
	border-image-outset: 1;
	border-image-repeat: round;
}
	
#finishedscreen span {
	display:	block;
	font size:	70px;
	
}

#finishedScreen{
	display:	none;
}

#startButton {
display: block;
	border:	20px solid orange;
	border-radius:65px;
	border-style: dotted;
	font size:	150px;
	padding:	35px;
	margin:	50px;
	background: repeating-radial-gradient(
	circle,
	purple,
	purple 10px,
	#4b026f 10px, 
	#4b026f 20px

}



a{
    background-color: purple;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   font-size: 16px;
   cursor: pointer;
   display: inline-block;
}